{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_2.jpg' %});"
             data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate mb-5 text-center">
                    <h2 class="mb-0 bread">{% trans 'Are you sure you want to delete your profile?' %}</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 ftco-animate">
                    <form method="post" class="billing-form">
                        <div class="row justify-content-center">
                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                    <button type="submit"
                                            class="btn btn-primary py-3 px-5 mr-2">{% trans 'Yes, Delete profile' %}
                                    </button>
                                </div>
                                <div class="col-md-3"><a href="{% url 'profile' request.user.id %}"
                                                         class="btn btn-primary py-3 px-5">{% trans 'No, Go back' %}</a>
                                </div>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}