{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_2.jpg' %});"
             data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate mb-5 text-center">
                    <h2 class="mb-0 bread">Edit Book</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 ftco-animate">
                    <form method="post" class="billing-form" enctype="multipart/form-data">
                        <h3 class="mb-4 billing-heading">Book Information</h3>

                        {% if form.non_field_errors %}
                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    {% for error in form.non_field_errors %}
                                        <div class="alert-danger">
                                            <ul>
                                                <li><strong>{{ error|escape }}</strong></li>
                                            </ul>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        <div class="row align-items-end">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_title">Title</label>
                                    <input type="text" name="title" maxlength="200" id="id_title" class="form-control"
                                           placeholder="" value="{{ book.title }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_genre">Genre</label>
                                    <div class="select-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                        <select name="genre" id="id_genre" class="form-control">
                                            {% if book.genre %}
                                                <option value="{{ book.genre }}">{{ book.genre }}</option>
                                            {% else %}
                                                <option value="none" selected disabled hidden>Select an Option</option>
                                            {% endif %}
                                            {% for genre in genres %}
                                                <option value="{{ genre }}">{{ genre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_image">Book Cover</label>
                                    {% if book.image %}
                                        Currently: <a href="{{ book.image.url }}">{{ book.image }}</a>
                                    {% endif %}
                                    <input type="file" name="image" id="id_image" class="form-control"
                                           placeholder="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_price">Price</label>
                                    <input type="number" name="price" step="0.01" required="" id="id_price"
                                           class="form-control" value="{{ book.price }}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_description">Description</label>
                            <textarea name="description" cols="40" rows="10" id="id_description"
                                      class="form-control"
                                      placeholder="">{{ book.description }}</textarea>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary py-3 px-5 mr-2">Save</button>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
