{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_2.jpg' %});"
             data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate mb-5 text-center">
                    <h2 class="mb-0 bread">{% trans 'Article Details' %}</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-degree-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <h2 class="mb-3">{{ article.title }}</h2>
                    <p>
                        <img src="{{ article.image.url }}" width="100%" alt="" class="img-fluid">
                    </p>
                    <p style="display: block; white-space: pre-wrap">{{ article.text }}</p>
                    <p>
                        {% if is_owner %}
                            <a href="{% url 'edit article' article.pk %}"
                               class="btn btn-primary py-3 px-5 mr-2">{% trans 'Edit Article' %}</a>
                            <a href="{% url 'delete article' article.pk %}"
                               class="btn btn-primary py-3 px-5">{% trans 'Delete Article' %}</a>
                        {% endif %}
                    </p>
                    <br>
                    <h4>{% trans 'Author' %}</h4>
                    <div class="tab-pane fade active show bg-light" id="v-pills-1" role="tabpanel"
                         aria-labelledby="v-pills-day-1-tab">
                        <div class="row p-4">
                            <div class="col-md-12">
                                <div class="review">
                                    <a href="{% url 'profile' article.user.pk %}">
                                        <div class="user-img"
                                             style="background-image: url({{ article.user.profile.image.url }})"></div>
                                    </a>

                                    <div class="desc">
                                        <a href="{% url 'profile' article.user.pk %}">
                                            <h4>
                                                <span class="text-left">{{ article.user.profile.first_name }} {{ article.user.profile.last_name }}</span><span></span>
                                            </h4>
                                        </a>
                                        <p style="display: block; white-space: pre-wrap">{{ article.user.profile.biography }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pt-5 mt-5">
                        <h3 class="mb-5">{{ comments_count }} {% trans 'Comment/s' %}</h3>
                        {% for comment in comments %}
                            <div class="review">
                                <div class="user-img"
                                     style="background-image: url({{ comment.user.profile.image.url }})"></div>
                                <div class="desc">
                                    <h4>
                                        <span class="text-left">{{ comment.user.profile.first_name }} {{ comment.user.profile.last_name }}</span>
                                        <span class="text-right">{{ comment.date_posted }}</span>
                                    </h4>
                                    <p style="display: block; white-space: pre-wrap">{{ comment.text }}</p>
                                    {% if comment.user == request.user %}
                                        <a href="{% url 'delete article comment' article.pk comment.pk %}"><span
                                                class="btn btn-primary">{% trans 'Delete Comment' %}</span></a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}

                        {% if request.user.is_authenticated and request.user.profile.is_complete %}
                            <div class="comment-form-wrap pt-5">
                                <h3 class="mb-5">{% trans 'Leave a comment' %}</h3>
                                <form method="post" action="{% url 'comment article' article.pk %}"
                                      class="p-5 bg-light">
                                    <div class="form-group">
                                        <label for="id_text">{% trans 'Message' %}</label>
                                        <textarea name="text" required="" id="id_text" cols="30" rows="10"
                                                  class="form-control"></textarea>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-md-1"></div>
                                        <div style="text-align: center;">
                                            <input type="submit" value="{% trans 'Post Comment' %}"
                                                   class="btn py-3 px-4 btn-primary">
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    {% csrf_token %}
                                </form>
                            </div>
                        {% else %}
                            <h4>{% trans 'To write comments you have to register and complete your profile.' %}</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
