{% extends 'base.html' %}
{% load static %}
{% load paginator_tag %}
{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_2.jpg' %});"
             data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate mb-5 text-center">
                    <h2 class="mb-0 bread">All Books</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row mb-4 ftco-animate">
                        <div class="col-md-12 justify-content-between align-items-center">
                            <form action="{% url 'search books' %}" method="get" class="search-form">
                                <div class="form-group">
                                    <button class="fa fa-search btn"></button>
                                    <input type="text" name="title" class="form-control"
                                           placeholder="Search for book by title">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        {% if books %}
                            {% for book in books %}
                                <div class="col-md-4 d-flex">
                                    <div class="product ftco-animate">
                                        <div class="img d-flex align-items-center justify-content-center"
                                             style="background-image: url({{ book.image.url }});">
                                            <div class="desc">
                                                <p class="meta-prod d-flex">
                                                    <a href="{% url 'book details' book.pk %}"
                                                       class="d-flex align-items-center justify-content-center"
                                                       style="height: 60px; width: 150px;"><span>See Book Details</span></a>
                                                </p>
                                                {% if book.author == request.user %}
                                                    <p class="meta-prod d-flex">
                                                        <a href="{% url 'edit book' book.pk %}"
                                                           class="d-flex align-items-center justify-content-center"
                                                           style="height: 60px; width: 150px;"><span>Edit Book</span></a>
                                                    </p>
                                                    <p class="meta-prod d-flex">
                                                        <a href="{% url 'delete book' book.pk %}"
                                                           class="d-flex align-items-center justify-content-center"
                                                           style="height: 60px; width: 150px;"><span>Delete Book</span></a>
                                                    </p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="text text-center">
                                            <span class="category">{{ book.genre }}</span>
                                            <h2>{{ book.title }}</h2>
                                            <span class="price">BGN {{ book.price }}</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="col-md-12 d-flex ftco-animate">
                                <h3>Currently there are no books {% if query %}matching this
                                    search{% endif %}</h3>
                            </div>
                        {% endif %}
                    </div>

                    <div class="row mt-5">
                        <div class="col text-center">
                            <div class="block-27">
                                <ul>
                                    {% if page_obj.has_previous %}
                                        <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                                    {% endif %}
                                    {% get_proper_elided_page_range paginator page_obj.number as page_range %}
                                    {% for page_number in page_range %}
                                        {% if page_number == page_obj.paginator.ELLIPSIS %}
                                            <li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
                                        {% else %}
                                            <li class="active"><span>{{ page_number }}</span></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="sidebar-box ftco-animate">
                        <div class="categories">
                            <ul class="p-0">
                                {% if request.user.is_authenticated %}
                                    <li>
                                        <a href="{% url 'search books' %}?my-books=True">My Books <span
                                                class="fa fa-chevron-right"></span></a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-box ftco-animate">
                        <div class="categories">
                            <h3>Genres</h3>
                            <ul class="p-0">
                                {% for genre in genres %}
                                    <li><a href="{% url 'search books' %}?genre={{ genre }}">{{ genre }} <span
                                            class="fa fa-chevron-right"></span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
