{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_2.jpg' %});"
             data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate mb-5 text-center">
                    <h2 class="mb-0 bread">Profile</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pb">
        <div class="container">
            <div class="row">
                <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center"
                     style="background-image:
                             {% if profile.image %}
                                 url({{ profile.image.url }})
                             {% else %}
                                 url({% static 'images/about.jpg' %})
                             {% endif %}
                             ;">
                </div>
                <div class="col-md-6 wrap-about pl-md-5 ftco-animate py-5">
                    <div class="heading-section">
                        <h2 class="mb-4">
                            {% if profile.first_name and profile.last_name %}
                                {{ profile.first_name }} {{ profile.last_name }}
                            {% else %}
                                Anonymous
                            {% endif %}
                        </h2>
                        <p>{{ profile.biography }}</p>
                    </div>
                    {% if profile.user == request.user %}
                        <p>
                            <a href="{% url 'edit profile' request.user.id %}" class="btn btn-primary py-3 px-5 mr-2">Edit
                                Profile</a>
                            <a href="{% url 'delete profile' request.user.id %}" class="btn btn-primary py-3 px-5">Delete
                                Profile</a>
                        </p>
                    {% endif %}
                    {% if not profile.biography %}
                        <br><br><br><br><br><br><br><br>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
