{% autoescape off %}
    Клиент
    Име: {{ name }}
    {{ address }}
    Тел.: {{ phone }}
    Ел. поща: {{ email }}

    Поръчка:
    {{ amount }} X {{ book.title }}
    {% if signed %}
        Клиентът поръча подпис и посвещение.
    {% endif %}
    Цена (общо): {{ total }}

    Свържете се с клиента за да го уведомите, че сте получили поръчката.

    ---------------------------------------------------------------------

    Client
    Name: {{ name }}
    {{ address }}
    Phone: {{ phone }}
    Email: {{ email }}

    Ordered:
    {{ amount }} X {{ book.title }}
    {% if signed %}
        The user has requested a signed copy with dedication.
    {% endif %}
    Total price: {{ total }}

    Contact the client to let them know you received the order.
{% endautoescape %}