{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_2.jpg' %});"
             data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate mb-5 text-center">
                    <h2 class="mb-0 bread">{% trans 'Sign In' %}</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 ftco-animate">
                    <form method="post" class="billing-form">

                        {% if form.non_field_errors %}
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    {% for error in form.non_field_errors %}
                                        <div class="alert-danger">
                                            <ul>
                                                <li><strong>{{ error|escape }}</strong></li>
                                            </ul>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_username">{% trans 'Email' %}</label>
                                    <div class="alert-danger"><strong>{{ form.email.errors|escape }}</strong></div>
                                    <input class="form-control" placeholder="example@gmail.com" type="email"
                                           name="username" autofocus="" autocapitalize="none" autocomplete="username"
                                           maxlength="254" required="" id="id_username">
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_password">{% trans 'Password' %}</label>
                                    <div class="alert-danger"><strong>{{ form.pasword.errors|escape }}</strong></div>
                                    <input class="form-control" placeholder="**********"
                                           type="password" name="password" autocomplete="current-password" required=""
                                           id="id_password">
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary d-block">{% trans 'Sign In' %} <span
                                        class="fa fa-long-arrow-right"></span></button>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}